<div class="row g-5 fs-5 pt-3">
  <h1 class="mb-5">Contributors</h1>
  <div class="col-md-11 mt-1">
    <p>
      <strong>Nicola Brocca:</strong> Conceptualization, Methodology, Data
      collection, Data analysis, Project administration, Funding acquisition
    </p>
    <p>
      <strong>Diego Cortés Velásquez:</strong> Methodology, Data collection,
      Data analysis
    </p>
    <p>
      <strong>Eva Maria Hirzinger-Unterrainer:</strong> Resources, Teacher
      Training
    </p>
    <p>
      <strong>Elena Nuzzo:</strong> Methodology, Data collection, Data analysis,
      Supervision
    </p>
    <p>
      <strong>Maria Rudigier:</strong> Data analysis, Data curation, Video
      creation
    </p>
    <p><strong>Valentin Spielthenner:</strong> Data analysis</p>
    <p><strong>Joseph Wang-Kathrein:</strong> Software, Data curation</p>
    <p class="mt-5">
      <strong>Acknowledgments:</strong><br />
      This project was supported by the CLARIAH-AT Funding 2022:
      Interoperability and Reusability of DH Data and Tools:
      <a target="_blank" href="https://clariah.at/project-funding/"
        >https://clariah.at/project-funding/</a
      >
    </p>
  </div>
</div>
