<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="changePW">Edit Password</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="modal-body">
      <div class="mb-3">
        <label for="emailaddress" class="form-label">User ID</label>
        <input type="text" class="form-control" disabled [value]="user?.id" />
      </div>
      <div class="mb-3">
        <label for="oldPw" class="form-label">Old Password</label>
        <input
          type="password"
          class="form-control"
          id="oldPw"
          formControlName="oldPassword"
        />
      </div>
      <div class="mb-3">
        <label for="pw" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          id="pw"
          formControlName="newPassword"
        />
      </div>
      <div class="mb-3">
        <label for="pwAgain" class="form-label">New Password Again</label>
        <input
          type="password"
          class="form-control"
          id="pwAgain"
          formControlName="newPasswordAgain"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">
        Close
      </button>
      <button type="submit" class="btn btn-secondary">Change Password</button>
    </div>
  </form>
</div>
