<div class="row g-5 fs-5 pt-3">
  <h1 class="mb-5">How to use</h1>
  <div class="col-md-12 mt-1">
    <tabset id="ladderTab">
      <tab heading="Basic Functions (Without Login)">
        <h2 class="mt-5 mb-3">Annotation Assistant</h2>
        <div class="row g-5 mt-1 mb-5">
          <div class="col-md-6">
            <h3 class="mb-2">Annotate a text</h3>
            <video controls src="/assets/videos/1_annotate-a-text.mp4"></video>
          </div>
        </div>
        <p>
          Enter a New Text:<br />
          Type the text (either a cancellation or a request) you wish to
          annotate into the provided field.
        </p>
        <p>
          Select Language:<br />
          Choose the language of your text from the dropdown menu.
        </p>
        <p>
          Press “Annotate“:<br />
          Click the "Annotate" button to proceed with the annotation.
        </p>
      </tab>
      <tab heading="Advanced Functions (With Login)">
        <h2 class="mt-5 mb-3">Annotate Text with Advanced Features</h2>
        <div class="row g-5 mt-1 mb-5">
          <div class="col-md-6">
            <h3 class="mb-2">Add a text</h3>
            <video controls src="/assets/videos/2_add-a-text.mp4"></video>
          </div>
          <div class="col-md-6">
            <h3 class="mb-2">Find Texts</h3>
            <video controls src="/assets/videos/3_find-texts.mp4"></video>
          </div>
        </div>
        <p>
          Enter a New Text:<br />
          Type your text (either a cancellation or a request).
        </p>
        <p>
          Select Language:<br />
          Choose the language of your text.
        </p>
        <p>
          Press “Annotate“:<br />
          Click the "Annotate" button.
        </p>
        <p>
          Add as New Text:<br />
          Select this option to add your annotated text as a new entry.
        </p>
        <p>
          Set Metadata:<br />
          Choose the language (Italian or German) and specify the L1/L2 language
          with the first three letters (e.g., Ita, Ger).
        </p>
        <p>
          Incorporate into Corpus:<br />
          Your text will be added to the corpus and used in the training set,
          visible under “Last Changes.“
        </p>
        <h2 class="mt-5 mb-3">Find Text</h2>
        <p>
          Enter a Search Term:<br />
          Input your search term, such as “Hallo“ or “Intensifier“.
        </p>
        <p>
          Confirm the Query:<br />
          Click the button under the field e.g. “Add Fulltext Clause” or “Add
          Modifier Clause“
        </p>
        <p>
          Apply Filters:<br />
          Language selection is required. Apply other filters as needed.
        </p>
        <p>
          Press “Search“:<br />
          Click the search button.
        </p>
        <p>
          View Results Online:<br />
          Review the search results displayed.
        </p>
        <p>
          Export Results:<br />
          Choose to export the results in JSON, TEI/XML, or CSV formats.
        </p>

        <h2 class="mt-5 mb-3">Modify Annotations</h2>
        <p>
          Access Modification Tools:<br />
          Click on the tag icon next to the message, situated between the pencil
          and bin icons.
        </p>
        <p>
          Edit Annotation:<br />
          Click the pencil icon to modify the existing annotation.
        </p>

        <h2 class="mt-5 mb-3">Modify/Add Task</h2>
        <p>
          Create or Edit Tasks:<br />
          Click on the “Create Tasks“ button to add a new task or modify an
          existing one. Tasks are prompts that elicit specific responses or
          actions.
        </p>
        <h2 class="mt-5 mb-3">Modify/Add Modifiers and Subact Tag</h2>
        <p>
          Add or Modify Tags:<br />
          Click on the “Modifiers“ or “Subact“ button to add a new modifier or
          subact tag or to modify existing ones.
        </p>

        <h2 class="mt-5 mb-3">Modify/Add Models:</h2>
        <p>
          View and Edit Categories:<br />
          Click on a category tag to view or modify the classification
          categories. The system will train the model based on these categories,
          which automatically update once a day.
        </p>
      </tab>
    </tabset>
  </div>
</div>
