<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Logout</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3 row">
      <p>Do you want to log out from this application?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="close()"
    >
      Cancel
    </button>
    <button type="button" (click)="logout()" class="btn btn-primary">
      Log out
    </button>
  </div>
</div>
