<div class="row g-5 fs-5 pt-3">
  <h1 class="mb-5">Privacy Policy for LadderWeb</h1>
  <div class="col-md-11 mt-1">
    <p>
      Welcome to LadderWeb. Your privacy and the security of your personal data
      are of paramount importance to us. This Privacy Policy outlines how we
      collect, use, protect, and handle your personal information in accordance
      with the General Data Protection Regulation (GDPR) and the Austrian Data
      Protection Act.
    </p>
    <ol class="gdpr">
      <li>
        <h2>Data Controller</h2>
        <p>
          The data controller responsible for the processing of your personal
          data in relation to LadderWeb is: <br />
          <strong>Dr. Nicola Brocca</strong><br />
          Innrain 52d, ZiNr. 40513, 6020 Innsbruck, Austria<br />
          Phone <a href="tel:+4351250743011">+43 512 507 43011</a>
        </p>
      </li>
      <li>
        <h2>Personal Data Processing</h2>
        <p>
          When you visit LadderWeb, we automatically collect data that your
          browser transmits to our server (so-called "server log files"). This
          data includes:<br />
          The IP address of the requesting device, which is anonymized to ensure
          your privacy,<br />
          The processing of this data is necessary to enable the use of our
          website, to ensure the stability and security of the system, and to
          optimize our web content. The legal basis for this processing is Art.
          6 (1) (f) GDPR, based on our legitimate interest in improving and
          securing our website operations.
        </p>
      </li>
      <li>
        <h2>Use of Functional Cookies</h2>
        <p>
          LadderWeb uses "functional cookies" to ensure the optimal
          functionality of our website. Cookies are small text files that are
          stored on your device. The cookies we use are essential for the
          technical operation of our website and are not used for tracking
          purposes.
        </p>
        <p>
          The use of these functional cookies is based on Art. 6 (1) (f) GDPR,
          which allows the processing of data to fulfill a legitimate interest
          (in this case, the smooth functionality of the website).
        </p>
      </li>
      <li>
        <h2>Data Security</h2>
        <p>
          We employ appropriate technical and organizational security measures
          to protect your data against accidental or intentional manipulation,
          partial or total loss, destruction, or against unauthorized access by
          third parties. Our security measures are continuously improved in line
          with technological developments.
        </p>
      </li>
      <li>
        <h2>Your Rights</h2>
        <p>
          Under the GDPR, you have the right to access, rectify, erase, restrict
          processing of your personal data, the right to data portability, and
          the right to object to the processing of your personal data. If you
          have any questions or concerns about how we handle your data or wish
          to exercise any of your rights, please contact us at the email address
          provided above.
        </p>
      </li>
      <li>
        <h2>Changes to Our Privacy Policy</h2>
        <p>
          We reserve the right to update this privacy policy to reflect changes
          in our data processing practices or to comply with legislative
          updates. We encourage you to review our privacy policy periodically.
        </p>
      </li>
    </ol>
    <h2 class="mt-4">Contact Us</h2>
    <p>
      For further information about our privacy practices or if you have any
      questions, please contact us.
    </p>
  </div>
</div>
