<div class="row g-5 fs-5 pt-3">
  <h1 class="mb-5">Coding Scheme</h1>
  <div class="col-md-11 mt-1">
    <p>
      The data which was used to train the model has been manually annotated
      according to the following taxonomies:
    </p>
  </div>
  <div class="col-md-12 mt-1">
    <div class="table-container">
      <small
        >Fig 1: Unified coding scheme of sub-acts for requests and
        cancellations</small
      >
      <table class="coding-scheme">
        <thead>
          <tr class="align-top">
            <th>Sub-act</th>
            <th>Realization strategies</th>
            <th>
              Function (INV&nbsp;=&nbsp;the invitee, R&nbsp;=&nbsp;requester)
            </th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-cancellation align-top">
            <td>Alerter</td>
            <td>
              <ol>
                <li>Call for Attention</li>
                <li>Greeting</li>
              </ol>
            </td>
            <td>INV calls the addressee’s attention</td>
            <td>Buongiorno.</td>
          </tr>
          <tr class="table-cancellation">
            <td>Appeal to Empathy</td>
            <td></td>
            <td>INV appeals to empathy from or for the addressee</td>
            <td>Lo so che è tardi.</td>
          </tr>
          <tr class="table-cancellation align-top">
            <td>Cancellation</td>
            <td>
              <ol>
                <li>Impossibly</li>
                <li>Indirect Cancellation</li>
                <li>Non-Performative Statement</li>
                <li>Performative</li>
              </ol>
            </td>
            <td>
              INV communicates s/he will not attend the event for which s/he had
              accepted an invitation
            </td>
            <td>
              <ol>
                <li>Stasera non ce la faccio a venire.</li>
                <li>Ti avevo detto che sarei venuto, ma…</li>
                <li>Stasera ti bidono.</li>
                <li>Devo annulare.</li>
              </ol>
            </td>
          </tr>
          <tr class="table-request align-top">
            <td>Cost Minimizer</td>
            <td></td>
            <td>R tries to lower the cost of the request</td>
            <td>Te la ridarò appena ho fatto.</td>
          </tr>
          <tr class="table-cancellation-request align-top">
            <td>Explanation</td>
            <td>
              <ol>
                <li>Generic Explanation</li>
                <li>Detailed Explanation</li>
              </ol>
            </td>
            <td>
              INV provides a reason for their non-participation (health, work,
              family, etc.)
            </td>
            <td>
              <ol>
                <li>Ho avuto un contrattempo.</li>
                <li>Mi sento malissimo./Ho avuto un problema in famiglia.</li>
              </ol>
            </td>
          </tr>
          <tr class="table-cancellation-request align-top">
            <td>Farewell</td>
            <td></td>
            <td>
              INV signals the end of the conversation with closing expressions
            </td>
            <td>Ci vediamo presto.</td>
          </tr>
          <tr class="table-cancellation-request align-top">
            <td>Gratitude</td>
            <td></td>
            <td>INV expresses gratitude for the invitation</td>
            <td>Grazie comunque.</td>
          </tr>
          <tr class="table-cancellation align-top">
            <td>Irony</td>
            <td></td>
            <td>INV makes an ironic comment</td>
            <td>
              È che sto girando come una disperata, ma proprio non trovo
              parcheggio! (in riferimento al litigio con il vicino per il posto
              macchina)
            </td>
          </tr>
          <tr class="table-cancellation align-top">
            <td>Offer of Repair</td>
            <td>
              <ol>
                <li>Alternative</li>
                <li>Unclear Alternative</li>
                <li>No Alternative</li>
              </ol>
            </td>
            <td>
              INV promises to repair somehow (with a new appointment, a phone
              call, detailed explanations, etc.)
            </td>
            <td>
              <ol>
                <li>Ci vediamo domani sera per un aperitivo, ti va?</li>
                <li>Mi farò perdonare.</li>
                <li>Rimandiamo?</li>
              </ol>
            </td>
          </tr>
          <tr class="table-request align-top">
            <td>Opener</td>
            <td></td>
            <td>R wants to open their message</td>
            <td>Ciao ragazzi. Buongiorno.</td>
          </tr>
          <tr class="table-cancellation-request align-top">
            <td>Preparator</td>
            <td></td>
            <td>INV prepares the ground for the upcoming speech act</td>
            <td>Ho brute notizie per stasera.</td>
          </tr>
          <tr class="table-request align-top">
            <td>Promise of Reward</td>
            <td></td>
            <td>
              R wants to lower the threat of the request by offering a reward
            </td>
            <td>Poi ovviamente ti offro un caffè.</td>
          </tr>
          <tr class="table-cancellation-request align-top">
            <td>Remedial Move</td>
            <td>
              <ol>
                <li>Apology</li>
                <li>Statement of Regret</li>
              </ol>
            </td>
            <td>INV says s/he is sorry or asks for forgiveness</td>
            <td>
              <ol>
                <li>Scusa.</li>
                <li>Mi dispiace.</li>
              </ol>
            </td>
          </tr>
          <tr class="table-request align-top">
            <td>Request</td>
            <td></td>
            <td>R asks for something</td>
            <td>Non è che potresti prestarmi la tua?</td>
          </tr>
          <tr class="table-request align-top">
            <td>Self-humiliation/Showing Responsibility</td>
            <td></td>
            <td>
              R tries to humiliate themselves in order to put the shame on them
              and enhance helpfulness
            </td>
            <td>Tipico di me.</td>
          </tr>
          <tr class="table-cancellation align-top">
            <td>Willingness</td>
            <td></td>
            <td>INV states their willingness to participate</td>
            <td>Lo sai che ci tenevo ad esserci.</td>
          </tr>
          <tr class="table-cancellation align-top">
            <td>Wishes</td>
            <td></td>
            <td>
              INV expresses well-wishes for the event s/he will not attend
            </td>
            <td>Divertiti anche per me.</td>
          </tr>
        </tbody>
      </table>
      <div class="legende mt-2 mb-5">
        <span class="cancellation">Only cancellation </span>
        <span class="request">Only request </span>
        <span class="cancellation-request">Cancellation and request</span>
      </div>
    </div>
    <!-- /table-container -->

    <div class="table-container">
      <small
        >Fig 2: Unified coding scheme of modifiers for requests and
        cancellations</small
      >
      <table class="coding-scheme">
        <thead>
          <tr>
            <th>Modifier</th>
            <th>Function</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-request">
            <td>Conditional Mood</td>
            <td>
              Used to generate the feeling that the things said are not real
            </td>
            <td>Potrei <em>chiederti</em> in prestito la tua?</td>
          </tr>
          <tr class="table-cancellation-request">
            <td>Downtoner</td>
            <td>
              Mitigates the strength of the illocutionary force of the sub-act
              in which it appears
            </td>
            <td>Ciao, ho un <em>piccolo</em> problema.</td>
          </tr>
          <tr class="table-request">
            <td>Embedding</td>
            <td>
              Used to introduce the linguistic act, often in combination with
              the imperfect tense
            </td>
            <td>
              <em>Volevo chiedervi</em> se c’è qc. di voi che mi potrebbe
              aiutare?
            </td>
          </tr>
          <tr class="table-cancellation-request">
            <td>Evaluation</td>
            <td>
              Expresses the speaker’s standpoint on the state of affairs
              described in the sub-act in which it appears
            </td>
            <td>
              <em>Purtroppo</em> ho perso la mia tessera della biblioteca.
            </td>
          </tr>
          <tr class="table-request">
            <td>Hedge</td>
            <td>
              Expresses a doubt and therefore aims at reducing the expectations
            </td>
            <td><em>Forse</em> qualcuno di voi potrebbe prestarmi la sua?</td>
          </tr>
          <tr class="table-request">
            <td>Imperfect Tense</td>
            <td>
              Similar to the conditional mood, it has the function to move away
              from reality.
            </td>
            <td><em>Volevo</em> chiederti se per caso ci possiamo vedere.</td>
          </tr>
          <tr class="table-cancellation-request">
            <td>Intensifier</td>
            <td>
              Increases the strength of the illocutionary force of the sub-act
              in which it appears
            </td>
            <td>Ho bisogno <em>urgentemente</em> del libro XY per domani.</td>
          </tr>
          <tr class="table-request">
            <td>Interrogative Form</td>
            <td>Request is expressed in form of a question</td>
            <td>Could I please borrow yours?</td>
          </tr>
          <tr class="table-request">
            <td>Negative Form</td>
            <td>
              Request is expressed in form of a negation which acts as a sort of
              verification question
            </td>
            <td><em>Non è che</em> mi presti la tua oggi pomeriggio?</td>
          </tr>
          <tr class="table-request">
            <td>Politeness Marker</td>
            <td>
              Used to directly request the collaboration of the interlocutor
            </td>
            <td>
              Qualcuno mi può dare un libro entro domani, <em>per favore</em>?
            </td>
          </tr>
          <tr class="table-cancellation-request">
            <td>Term of Endearment</td>
            <td>Qualifies the relationship between speaker and addressee</td>
            <td>Ei <em>tesoro</em>, come stai?</td>
          </tr>
        </tbody>
      </table>
      <div class="legende mt-2 mb-5">
        <span class="cancellation">Only cancellation </span>
        <span class="request">Only request </span>
        <span class="cancellation-request">Cancellation and request</span>
      </div>
    </div>
    <!-- /table-container -->
  </div>
  <div class="col-md-11 mt-5">
    <h2>The Coding Scheme for Cancellations</h2>
    <p>
      “Following the
      <a
        href="https://www.sciencedirect.com/topics/psychology/speech-act-theory"
        target="_blank"
        >Speech Act Theory (Austin, 1970)</a
      >, researchers in the field of cross-cultural pragmatics (e.g.,
      <a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#bib11"
        target="_blank"
        >Blum-Kulka, House, and Kasper, 1989</a
      >) and L2 pragmatics (e.g.,
      <a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#bib1"
        target="_blank"
        >Achiba, 2003</a
      >;
      <a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#bib4"
        target="_blank"
        >Nuzzo, 2007</a
      >;
      <a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#bib52"
        target="_blank"
        >Trosborg, 1994</a
      >) have traditionally used speech act coding schemes which distinguish
      between head act, internal modifiers and external modifiers, also called
      supportive moves. The head act is the part of the utterance that conveys
      the main illocutionary force of the speech act, whereas the modifiers
      contribute to modulating the intensity of that force. Internal modifiers
      are part of the head act; supportive moves precede or follow it. However,
      this categorization presents some limitations. In a number of cases, the
      expected head act is not produced by the speaker, and the illocutionary
      force of the speech act is indirectly conveyed by expressions which would
      be classified as supportive moves if the head act were there. Aiming to
      overcome this limitation, some scholars have distinguished between direct
      and indirect head act strategies. In their analysis of refusals, for
      example, Babai Shishavan and Sharifian (<a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#bib9"
        target="_blank"
        >2016</a
      >: 80) considered the indirect strategies as head acts in contexts where
      they occurred in the absence of direct refusal, and as supportive moves
      when they occurred in conjunction with direct refusal strategies. However,
      the distinction between direct and indirect strategies is not always clear
      cut, thus requiring a certain degree of interpretation on the part of the
      analyst.
    </p>
    <p>
      For the present study, we decided to use the non-hierarchical taxonomy of
      LMCs proposed by
      <a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#bib5"
        target="_blank"
        >Cortés Velásquez and Nuzzo (2017)</a
      >
      which assumes the existence of sub-acts as the minimum illocutionary units
      constituting the speech act. This modus operandi has the following
      advantages.
    </p>
    <p>
      i) it simplifies the analysis by avoiding the distinction between
      explicit/direct and implicit/indirect head acts;
    </p>
    <p>
      ii) it reduces the subjectivity of the annotation, as the coders analyze
      only what is expressed and the interpretation of implicit meaning is
      avoided;
    </p>
    <p>
      iii) it allows a more inductive (data-driven) analysis, as no hierarchical
      relation is assumed a priori: all sub-acts may equally contribute to
      convey the main illocutionary force of the speech act.
    </p>
    <p>
      Following the taxonomy developed by
      <a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#bib5"
        target="_blank"
        >Cortés Velásquez and Nuzzo (2017)</a
      >, and further refined in
      <a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#bib7"
        target="_blank"
        >Cortés Velásquez and Nuzzo (2021)</a
      >, the coding scheme used to annotate our data comprises 12 types of
      sub-acts, some of which may have different realization strategies (<a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#appsec1"
        target="_blank"
        >Appendix, Table 1</a
      >), and four types of modifiers (<a
        href="https://www.sciencedirect.com/science/article/pii/S037821662300053X#appsec1"
        target="_blank"
        >Appendix, Table 2</a
      >). Emoticons and emojis were annotated too, and their function was
      determined depending on the context, mostly as modifiers”.
    </p>
    <p>
      <small
        >From:<br />
        Brocca, N, Nuzzo, E., Cortés Velásquez, D. & Rudigier, M. (2023).
        Linguistic politeness across Austria and Italy: Backing out of an
        invitation with an instant message. <em>Journal of Pragmatics</em>, 209,
        56–70,
        <a href="https://doi.org/10.1016/j.pragma.2023.02.018." target="_blank"
          >https://doi.org/10.1016/j.pragma.2023.02.018</a
        >.</small
      >
    </p>

    <h2 class="mt-5">The Coding Scheme for Requests</h2>
    <p>
      “In traditional approaches, coding schemes for the classification of
      requests based on the Speech Act Theory (Austin, 1962) typically
      differentiate between the head act of the request, internal modifiers, and
      external modifiers, which are also referred to as supportive moves (e.g.,
      Achiba, 2003; Blum-Kulka et al., 1989; Flores-Salgado and
      Castineira-Benitez, 2018; Trosborg, 1995). In a number of cases, the
      expected head act is not produced by the speaker, and the illocutionary
      force of the speech act is conveyed indirectly by expressions that would
      be classified as supportive moves if the head act were present: for
      example, an explanation can be treated as a non-conventional indirect
      request (hint) in the absence of an explicit request. In other cases, the
      line between between types of request is not always clear, or the speaker
      has adopted mixed strategies: such cases require some interpretation on
      the part of the rater. Consequently, the categorization system of Nuzzo
      and Cortés Velásquez (2020) was adopted: a simplified taxonomy of
      Blum-Kulka et al. (1989), which assumes sub-acts as the smallest
      illocutionary units that constitute a speech act, without distinguishing
      between head and supportive moves. This methodology offers several
      benefits: it allows for a more inductive (data-driven) analysis, as no
      hierarchical relationship is assumed a priori: all sub-acts may equally
      contribute to conveying the main illocutionary force of the speech act.
      This approach also simplifies the analysis by avoiding the distinction
      between different types of requests. Additionally, it reduces the
      subjective evaluation of the annotation since coders solely analyze the
      expressed content, avoiding interpretations of implicit meanings.
    </p>
    <p>
      A separate analysis layer focuses on morphosyntactic, lexical, and
      proxemic (such as emoticons) modifiers. This classification offers insight
      into the request formulation strategies, but it varies from the previous
      classification as it only relies on identifying single linguistic features
      (included pictographs). The taxonomy of modifiers contributes to a more
      fine-grained analysis of requests based on visible and countable markers.
      The 10 types of sub-acts identified in the data are reported and
      illustrated in Appendix, where the 11 types of modifiers found in the
      corpus and included in the coding scheme are reported as well.
    </p>
    <p>
      In the following example (1), the request in -D situation of the L2
      speaker 24 is divided into sub-acts in the first line and translated into
      English in the second line. The types of sub-acts and modifiers are
      reported in the third and fourth lines respectively.
    </p>
  </div>
  <div class="col-md-12 mt-1">
    <table class="coding-scheme mb-5">
      <thead>
        <tr>
          (1) L2_24, -D
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ciao ragazzi!!</td>
          <td>Ho un problema,</td>
          <td>perché ho perso la mia tessera per la biblioteca.</td>
          <td>Forse qualcuno di voi potrebbe prestarmi la sua?</td>
          <td>Grazie</td>
          <td>e a presto</td>
        </tr>
        <tr>
          <td>Hi guys!!</td>
          <td>I have a problem,</td>
          <td>because I lost my library card.</td>
          <td>Perhaps some of you could lend me theirs?</td>
          <td>Thank you</td>
          <td>and see you soon</td>
        </tr>
        <tr>
          <td>Opener<br />Endearment (emoji)</td>
          <td>Preparator</td>
          <td>Explanation</td>
          <td>
            Request<br />
            Hedge<br />
            Conditional mood<br />
            Interrogative
          </td>
          <td>Gratitude</td>
          <td>Farewell</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-11">
    <p>
      The dataset consists of a total of 240 requests, 120 from L2ers and 120
      from L1ers. The requests were manually annotated by two raters
      independently. In cases where there was disagreement in the annotations, a
      consensus-building process was employed after the initial annotation to
      reach a final decision. Emojis were annotated in the same way as other
      verbal units. It is worth noting that the same modifiers could appear
      multiple times within a single message.”
    </p>
    <p>
      <small
        >From:<br />
        Brocca, N. & Nuzzo, E. (2023). Exploring request strategies in Austrian
        Italian learners: Pragmatic transfer insights.
        <em>Journal of Pragmatics</em>, 220, 33–46,
        <a href="https://doi.org/10.1016/j.pragma.2023.11.012" target="_blank"
          >https://doi.org/10.1016/j.pragma.2023.11.012</a
        >.</small
      >
    </p>
  </div>
</div>
