<div class="row g-5 fs-5 pt-3">
  <h1 class="mb-5">Data Collection</h1>
  <div class="col-md-11 mt-1">
    <p>
      Data were collected from April 2020 to April 2021 using a Discourse
      Completion Task (DCT). The dataset comprises emails and instant messages.
      The participants include (i) German learners of Italian, ranging from
      levels A2 to C1 according to the Common European Framework of Reference
      for Languages (CEFR), most of whom are students residing in Tyrol,
      Austria, and (ii) native Italian speakers, primarily students from Rome,
      Italy. Data from the learners were gathered by students enrolled in the
      undergraduate seminar "Insegnare la pragmatica," which is included in the
      compulsory module 2b for student teachers at the Institute of Didactics,
      University of Innsbruck. Data from the native speakers were predominantly
      collected from students studying foreign languages at the University of
      Roma Tre.
    </p>
    <p class="pb-3">
      The DCTs were administered via online questionnaires. In addition to the
      texts, metadata providing sociolinguistic information about the
      participants (age, self-assessed language level, place of residence,
      native language, etc.) were collected through an online questionnaire. The
      DCTs were designed to elicit linguistic acts of request and refusal across
      varying levels of social distance and through different media (Taguchi &
      Roever, 2017, pp. 85, 231; Hinger et al., 2018, p. 148). These tasks aimed
      to prompt various speech acts (requests and refusals) with varying degrees
      of formality (in study/work or leisure contexts), directed at different
      individuals (lecturer, friend, boss), and executed via different
      communication channels (email or instant messaging). The scenarios were
      crafted to reflect authentic situations encountered by the students.
    </p>

    <h2 class="mt-5">The examined situations are described below:</h2>
    <h3 class="mt-5">Email Communication Scenarios:</h3>
    <ul class="mb-5">
      <li class="mt-3">
        High Social Distance
        <ul>
          <li class="mt-3">
            <strong>Scenario 1:</strong> The sender requests a favor or
            concession to which they are not inherently entitled.
          </li>
          <li class="mt-3">
            <strong>Scenario 2:</strong> The sender makes a request for
            something they are entitled to.
          </li>
        </ul>
      </li>
    </ul>

    <h3 class="mt-5 mb-1">WhatsApp Message Scenarios:</h3>
    <ul class="mb-5">
      <li class="mt-3">
        Low Social Distance:
        <ul>
          <li class="mt-3"><strong>Scenario 1:</strong> A request is made.</li>
          <li class="mt-3">
            <strong>Scenario 2:</strong> A request is rejected.
          </li>
          <li class="mt-3">
            <strong>Scenario 3:</strong> An invitation is cancelled on short
            notice. (a).
          </li>
          <li class="mt-3">
            <strong>Scenario 4:</strong> An invitation is cancelled on short
            notice (b).
          </li>
        </ul>
      </li>
      <li class="mt-4">
        Medium Social Distance:
        <ul>
          <li class="mt-3"><strong>Scenario 5:</strong> A request is made.</li>
          <li class="mt-3">
            <strong>Scenario 6:</strong> A request is rejected.
          </li>
          <li class="mt-3">
            <strong>Scenario 7:</strong> An invitation is cancelled on short
            notice. (a).
          </li>
          <li>
            <strong>Scenario 8:</strong> An invitation is cancelled on short
            notice (b).
          </li>
          <li>
            <strong>Scenario 9:</strong> An invitation is cancelled on short
            notice (c).
          </li>
        </ul>
      </li>
    </ul>
    <p>
      The WhatsApp messages, exemplifying instant messaging text types, were
      produced directly on mobile phones. The accompanying metadata were later
      associated with the respective messages in an Excel spreadsheet, ensuring
      all personal data were anonymized.
    </p>

    <h2 class="mt-5">Prompts in Italian:</h2>
    <h3 class="mt-5">Email Scenarios:</h3>
    <ol class="mb-5">
      <li class="mt-3">
        <p>
          <strong>Mail: </strong>Scenario Description in Italian: Immagina di
          star facendo un corso con il Dr. Nicola Brocca. Domani devi fare una
          presentazione in classe. Non hai avuto tempo per studiare perché
          dovevi prepararti a un esame di inglese e ti accorgi che il materiale
          da presentare è più di quello che avevi previsto. Scrivi una mail al
          professore: la tua speranza è spostare la presentazione.
        </p>
        <p class="translation mb-5 ps-5">
          English Translation: Imagine you are taking a course with Dr. Nicola
          Brocca. Tomorrow you have to give a presentation in class. You had no
          time to study because you had to prepare for an English exam, and you
          realize that there is more material to present than you had imagined.
          You write an email to the professor: Your hope is to reschedule the
          presentation.
        </p>
      </li>
      <li class="mt-3">
        <p>
          <strong>Mail: </strong>Scenario Description in Italian: Hai fatto un
          corso con il Dr. Brocca. Hai consegnato il tuo portfolio il 01.02.2020
          adesso è il 01.03.2020 e non hai ancora ricevuto il voto. Ti serve il
          voto per registrarti per una borsa di studio. Manda una mail al prof.:
          il tuo obiettivo è ricevere il voto al più presto.
        </p>
        <p class="translation mb-5 ps-5">
          English Translation: You have taken a course with Dr. Brocca. You
          turned in your portfolio on 02/01/2020, it is now 03/01/2020 and you
          have not received the grade yet. You need the grade to register for a
          scholarship. Send an email to the professor: Your goal is to receive
          the grade as soon as possible.
        </p>
      </li>
    </ol>

    <h3 class="mt-5">WhatsApp Scenarios:</h3>
    <ol class="mb-5">
      <li class="mt-3">
        <p>
          <strong>Request Library Card: </strong>Scenario Description in
          Italian: Sei in Erasmus in Italia. Hai creato una chat con 10 compagni
          di corso. Hai perso la tua tessera della biblioteca e hai bisogno di
          un libro entro domani. Chiedi se qualcuno può aiutarti, per esempio,
          prestandoti la sua tessera. Cosa scrivi?
        </p>
        <p class="translation mb-5 ps-5">
          English Translation: You are participating in the Erasmus program in
          Italy. You've created a chat group with 10 classmates. You lost your
          library card and need a book by tomorrow. You want to ask if someone
          can help you, for example, by lending you their card. What do you
          write?
        </p>
      </li>
      <li class="mt-3">
        <p>
          <strong>Declining a Friend’s Request for Help: </strong>Scenario
          Description in Italian: Ricevi un messaggio da un amico che partecipa
          a un seminario con te: "Ciao, sono a corto di tempo. Ho visto che hai
          preso 30 all'esame. Potresti aiutarmi e restare con me in biblioteca
          oggi?" Non vuoi aiutare il tuo amico. Come reagisci?
        </p>
        <p class="translation mb-5 ps-5">
          English Translation: You receive a message from a friend attending a
          seminar with you: "Hello, I'm running out of time. I saw you got a 30
          on the exam. Could you help me and stay with me in the library today?"
          You don't want to help your friend. How do you respond?
        </p>
      </li>
      <li class="mt-3">
        <p>
          <strong>Cancelling Plans to Go to the Cinema with a Friend: </strong
          >Scenario Description in Italian: Cinque giorni fa hai promesso a un
          amico che stasera andreste al cinema insieme. Però hai cambiato idea.
          Cosa fai? Cosa scrivi?
        </p>
        <p class="translation mb-5 ps-5">
          English Translation: Five days ago, you promised a friend that you
          would go to the movies together tonight. But you've changed your mind.
          What do you do? What do you write?
        </p>
      </li>
      <li class="mt-3">
        <p>
          <strong>Cancelling a Dinner Invitation: </strong>Scenario Description
          in Italian: Sei stato/a invitato/a a cena da un/a amico/a per stasera
          e hai accettato, ma all’ultimo momento mandi un messaggio per dire che
          non vai. Che cosa scrivi?
        </p>

        <p class="translation mb-5 ps-5">
          English Translation: You have been invited to dinner tonight by a
          friend and have accepted, but at the last minute you send a message to
          say that you are not going. What do you write?
        </p>
      </li>
      <li class="mt-3">
        <p>
          <strong>Request Parking Badge: </strong>Scenario Description in
          Italian: <br />
          Sei al lavoro e hai smarrito il documento elettronico per entrare nel
          parcheggio. Sei nuovo in questo gruppo di lavoro e hai solo il numero
          del tuo diretto superiore. Gli mandi un messaggio per chiedergli se ti
          può aiutare.
        </p>
        <p class="translation mb-5 ps-5">
          English Translation: You are at work and have lost your electronic
          badge to enter the parking lot. You are new to this work group and
          only have the number of your direct supervisor. You send him/her a
          message and ask if he/she can help you.
        </p>
      </li>
      <li class="mt-3">
        <p>
          <strong>Declining a Supervisor’s Request to Stay Late: </strong
          >Scenario Description in Italian: Ricevi un messaggio dal tuo
          superiore: "Gentile collega, domani abbiamo una scadenza importante.
          Puoi restare in ufficio oltre l'orario di lavoro oggi?" Non vuoi
          restare oltre l'orario. Come reagisci?
        </p>
        <p class="translation mb-5 ps-5">
          English Translation: You receive a message from your supervisor: "Dear
          colleague, tomorrow we have an important deadline. Can you stay in the
          office after hours today?" You don't want to stay late. How do you
          respond?
        </p>
      </li>

      <li class="mt-3">
        <p>
          <strong>Cancelling a Business Dinner Appointment: </strong>Scenario
          Description in Italian: Cinque giorni fa hai promesso al tuo superiore
          che oggi saresti andato a una cena di lavoro. Però devi disdire. Cosa
          fai?
        </p>
        <p class="translation mb-5 ps-5">
          English Translation: Five days ago, you promised your superior that
          you would attend a business dinner today. However, you need to cancel.
          What do you do?
        </p>
      </li>

      <li>
        <p>
          <strong>Cancelling a Party Invitation: </strong> Scenario Description
          in Italian: Un/a conoscente ti ha invitato/a a una festicciola a casa
          sua per stasera, e hai accettato, ma all’ultimo momento mandi un
          messaggio per dire che non vai. Che cosa scrivi?
        </p>

        <p class="translation mb-5 ps-5">
          English Translation: An acquaintance has invited you to a little party
          at his or her house tonight, and you have accepted, but at the last
          moment you send a message saying that you are not going. What do you
          write?
        </p>
      </li>

      <li>
        <p>
          <strong>Cancelling an Invitation to Have Drinks Together: </strong
          >Scenario Description in Italian: Il/la tuo/a nuovo/a vicino/a di
          casa, con cui hai recentemente avuto una discussione per una questione
          di parcheggio, ti ha invitato/a a un aperitivo tra amici sulla sua
          terrazza per venerdì sera. Tu hai accettato, ma all’ultimo momento
          mandi un messaggio per dire che non vai. Che cosa scrivi?
        </p>

        <p class="translation mb-5 ps-5">
          English Translation: Your new neighbour, with whom you recently had an
          argument about the parking situation, has invited you to an aperitif
          with friends on his terrace on Friday evening. You have accepted, but
          at the last moment you send a message saying that you are not going.
          What do you write?
        </p>
      </li>
    </ol>

    <p>
      Data Processing and Archiving: The corpus, initially collected in .xlsx
      format, was exported to XML and CSV formats. It was ensured that emoticons
      and special characters were preserved unchanged during the conversion
      process. These formats facilitate long-term archiving and significantly
      ease data exchange.
    </p>

    <div class="footnotes">
      <p>
        Hinger, B., Stadler, W., Schmiderer, K., & Bauer, M. (Hrg.) (2018).
        <em>Testen und Bewerten fremdsprachlicher Kompetenzen.</em> Tübingen:
        Narr Francke Attempto Verlag.
      </p>
      <p>
        Taguchi, N., & Roever, C. (2017).
        <em>Second language pragmatics.</em> Oxford: Oxford University Press.
      </p>
      <p>
        Velásquez, D. C., & Nuzzo, E. (2017). Disdire un appuntamento: spunti
        per la didattica dell’italiano L2 a partire da un corpus di parlanti
        nativi. <em>Italiano LinguaDue</em>, 9(1), 17-36.
      </p>
    </div>
  </div>
</div>
