<div class="row g-5 fs-5 pt-3">
  <h1 class="mb-5">Training Data Overview</h1>
  <div class="col-md-11 mt-1">
    <p>
      To train the web application LadderWeb, we used annotated subcorpora from
      DisDir (Nuzzo & Cortés Velásquez, 2020; Brocca et al. 2023) and Ladder
      (Brocca & Nuzzo 2024). <br />The data has been pragmatically annotated
      (see tag Annotation criteria).
    </p>
    <p>
      The annotated data building the training data is illustrated in the
      following table:
    </p>
  </div>

  <div class="col-md-12 mt-1">
    <table class="coding-scheme mb-5">
      <thead>
        <th class="text-center">Language</th>
        <th>Description</th>
        <th class="text-center">Token</th>
        <th class="text-center">Tags</th>
        <th class="text-center">Messages</th>
      </thead>
      <tbody>
        <tr class="align-top">
          <td class="text-center">Austrian German</td>
          <td>
            Speech acts: cancellations<br />
            Social context: formal, informal<br />
            Medium: Instant messaging<br />
            Source: Corpus Ladder
          </td>
          <td class="text-center">2,007</td>
          <td class="text-center">1,751</td>
          <td class="text-center">100</td>
        </tr>
        <tr class="align-top">
          <td class="text-center">Italian L1</td>
          <td>
            Speech acts: cancellations, requests <br />
            Social context: formal (requests) informal (cancellations,
            requests)<br />
            Medium: Instant messaging<br />
            Source: Corpus Ladder, Corpus DisDir
          </td>
          <td>
            cancellations: 10,471 ca.<br />
            requests: 5,302
          </td>
          <td>
            cancellations: 7,260<br />
            requests (L1 + L2): 1,054
          </td>
          <td>
            cancellations: 679<br />
            requests: 150
          </td>
        </tr>
        <tr class="align-top">
          <td class="text-center">Italian L2</td>
          <td>
            Speech acts: requests<br />
            Social context: formal, informal<br />
            Medium: Instant messaging<br />
            Source: Corpus Ladder
          </td>
          <td class="text-center">7,695</td>
          <td class="text-center">2,062</td>
          <td class="text-center">268</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-11 mt-1">
    <p>
      The application has been trained on 864 messages in Italian (L1+L2;
      requests and cancellations) and 100 messages in German (L1;
      cancellations).
    </p>
    <p>
      The data used for the training of LadderWeb is a selection from a larger
      dataset. To consult the entire dataset, please consult the corpus Ladder
      and DisDir in the following online archive:<br />
      Brocca, N. (2024). Ladder: a corpus for pragmatic competences in Italian
      L1/L2 [Data set].
      <a href="https://hdl.handle.net/21.11115/0000-0011-83CC-3" target="_blank"
        >https://hdl.handle.net/21.11115/0000-0011-83CC-3</a
      ><br />
      Nuzzo, E., & Cortés Velásquez, D. (2024). DisDir: Cancellations and Other
      Refusal Strategies (N. Brocca, Ed.) [Data set].
      <a href="https://hdl.handle.net/21.11115/0000-0011-83CD-2" target="_blank"
        >https://hdl.handle.net/21.11115/0000-0011-83CD-2</a
      >
    </p>
    <p>
      Further information about the corpus and how it was elicited is available
      under the following link: DOI
      <a href="https://doi.org/10.5281/zenodo.4895218" target="_blank"
        >10.5281/zenodo.4895218</a
      >.
    </p>
    <div class="footnotes">
      <p>
        <strong>References:</strong>
      </p>
      <p>
        Brocca, N., Nuzzo, E., Cortés Velásquez, D., & Rudigier, M. (2023).
        Linguistic politeness across Austria and Italy: Backing out of an
        invitation with an instant message. <em>Journal of Pragmatics</em>, 209,
        56-70,
        <a href="https://doi.org/10.1016/j.pragma.2023.02.018" target="_blank"
          >https://doi.org/10.1016/j.pragma.2023.02.018</a
        >.
      </p>
      <p>
        Brocca, N., & Nuzzo, E. (2024). Exploring Request Strategies in Austrian
        Italian Learners: Pragmatic Transfer Insights.
        <em>Journal of Pragmatics</em>, 220, 33-46,
        <a href="https://doi.org/10.1016/j.pragma.2023.11.012" target="_blank"
          >https://doi.org/10.1016/j.pragma.2023.11.012</a
        >.
      </p>
      <p>
        Nuzzo, E., & Cortés Velásquez, D. (2020) Canceling Last Minute in
        Italian and Colombian Spanish: A Cross-Cultural Account of
        Pragmalinguistic Strategies. <em>Corpus Pragmatics</em>, 4, 333–358,
        <a href="https://doi.org/10.1007/s41701-020-00084-y" target="_blank"
          >https://doi.org/10.1007/s41701-020-00084-y</a
        >
      </p>
    </div>
  </div>
</div>
