<div class="row g-5 fs-5 pt-3">
  <h1 class="mb-5">Related Publications</h1>
  <div class="col-md-11 mt-1">
    <p class="literature-index">
      Brocca, N. (2021). LADDER: Un corpus di scritture digitali per
      l'insegnamento della pragmatica in L2. Un esempio di analisi di disdette
      in WhatsApp. <em>Italiano Lingua Due</em>, 1, 241–259.
    </p>
    <p class="literature-index">
      Brocca, N., Nuzzo, E., Cortés Velásquez, D., & Rudigier, M. (2023).
      Linguistic politeness across Austria and Italy: Backing out of an
      invitation with an instant message. <em>Journal of Pragmatics</em>, 209,
      56–70,
      <a href="https://doi.org/10.1016/j.pragma.2023.02.018" target="_blank"
        >https://doi.org/10.1016/j.pragma.2023.02.018</a
      >.
    </p>
    <p class="literature-index">
      Brocca, N., & Nuzzo, E. (2024). Exploring Request Strategies in Austrian
      Italian Learners: Pragmatic Transfer Insights.
      <em>Journal of Pragmatics</em>, 220, 32–46.
      <a href="https://doi.org/10.1016/j.pragma.2023.11.012" target="_blank"
        >https://doi.org/10.1016/j.pragma.2023.11.012</a
      >
    </p>
    <p class="literature-index">
      Cortés Velásquez, D., & Nuzzo, E. (2017). Disdire un appuntamento: spunti
      per la didattica dell'italiano L2 a partire da un corpus di parlanti
      nativi. <em>Italiano Lingua Due</em>, 9(1), 17–36.
      <a href="https://doi.org/10.13130/2037-3597/8761" target="_blank"
        >https://doi.org/10.13130/2037-3597/8761</a
      >
    </p>
    <p class="literature-index">
      Cortés Velásquez, D., & Nuzzo, E. (2021). Il progetto DISDIR: origine,
      sviluppo e direzioni di ricerca. In E. Santoro, L. A. da Silva, M. Zulma
      Kulikowski (Eds.),
      <em
        >Estudos em Pragmáticas: atos de fala em português, italiano, espanhol e
        inglês.</em
      >
      Universidade de São Paulo. (pp. 35–52).
    </p>
    <p class="literature-index">
      Cortés Velásquez, D., & Nuzzo, E. (2022). Declining an invitation: The
      pragmatics of Italian and Colombian Spanish. In S. Gesuato, G. Salvato, &
      E. Castello, (Eds.),
      <em
        >Pragmatic Aspects of L2 Communication. From Awareness through
        Description to Assessment</em
      >
      (pp. 143–163). Cambridge Scholars Publishing.
    </p>
    <p class="literature-index">
      Nuzzo, E., & Cortés Velásquez, D. (2020). Canceling Last Minute in Italian
      and Colombian Spanish: A Cross-Cultural Account of Pragmalinguistic
      Strategies. <em>Corpus Pragmatics</em>, 4, 1–26.
      doi:10.1007/s41701-020-00084-y
    </p>
    <p class="literature-index">
      Nuzzo, E., & Brocca, N. (submitted). Telecollaboration and data-driven
      learning in pre-service teacher training: a study on the teaching of
      formal email in L2 Italian. <em>System</em>
    </p>
    <h2 class="mt-5">External Links</h2>
    <p>
      Project presentation:
      <a href="https://clariah.at/ladderweb/" target="_blank"
        >https://clariah.at/ladderweb</a
      ><br />
      Students working with Ladder Data:
      <a href="https://ladder.hypotheses.org/" target="_blank"
        >https://ladder.hypotheses.org</a
      >
    </p>
    <p>
      The complete Ladder and DisDir corpora are also archived in ARCHE:<br />
      <a href="https://hdl.handle.net/21.11115/0000-0011-83CC-3" target="_blank"
        >https://hdl.handle.net/21.11115/0000-0011-83CC-3</a
      >
      => LADDER<br />
      <a href="https://hdl.handle.net/21.11115/0000-0011-83CD-2" target="_blank"
        >https://hdl.handle.net/21.11115/0000-0011-83CD-2</a
      >
      => DisDir
    </p>
  </div>
</div>
