<div class="row g-5 fs-5 pt-3">
  <div class="col-md-6 mt-5">
    <h1 class="text-body-emphasis mb-4">
      Welcome to the LadderWeb a machine-learning based assistant for pragmatic
      annotation.
    </h1>
  </div>
  <div class="col-md-6 mt-5 mb-5 left-border-3px">
    <p class="mb-0 vorsatz">
      LadderWeb is a web application designed to improve the way researchers,
      teachers and learners deal with speech acts. The application provides
      pragmatic annotations for German and Italian cancellations and requests,
      thus simplifying and enhancing the analysis of pragmatic elements in L1
      and L2.
    </p>
  </div>

  <div class="col-md-11 mt-5">
    <h2>Empowering Pragmatic Annotation</h2>
    <p>
      LadderWeb introduces an innovative approach for annotating speech acts and
      transforms a traditionally manual and time-consuming process into an
      efficient and accessible task. Users can annotate refusal or request
      messages in German and Italian more easily, and new potentials in corpus
      pragmatics and language teaching are unlocked. This functionality is
      available to all users and facilitates the engagement with linguistic
      data.
    </p>
    <h2 class="mt-5">Advanced Features for Registered Users</h2>
    <p>
      As a registered user, you gain access to an array of advanced features,
      including the ability to explore, visualize, and export data. LadderWeb’s
      integration with OAI-PMH APIs streamlines the process of data harvesting
      and offers invaluable resources for creating (self-)learning materials and
      for enhancing pre-service teacher training. It also supports in-service
      educators and students in studying native and foreign languages through
      the analysis of elicited data, following a data-driven learning
      approach.<br /><a
        href="mailto:Nicola.Brocca@uibk.ac.at?subject=Register%20for%20LadderWeb"
        class="btn btn-primary btn-md px-4"
        >Register</a
      >
    </p>

    <h2 class="mt-5">Flexible and Adaptive Usage</h2>
    <p>
      LadderWeb is not just a static tool but a flexible instrument that allows
      for the reuse of data and the adaptation of models to meet new
      requirements. Whether integrating data from additional languages, applying
      different annotation schemas, or exploring further speech acts,
      LadderWeb’s model is designed to evolve according to the community’s
      needs.
    </p>
    <h2 class="mt-5">Addressing a Critical Gap</h2>
    <p>
      As a groundbreaking prototype, LadderWeb addresses a significant gap in
      corpus-based pragmatic research, particularly for Italian and German which
      are not as well investigated languages as English. It was highlighted by
      Weisser in 2018 that the lack of adequately annotated, publicly available
      corpora has constrained the exploration of linguistic interactions and the
      application of practical language training. LadderWeb steps in to fill
      this void by assisting researchers in pragmatic annotation.
    </p>
    <h2 class="mt-5">Join Our Journey</h2>
    <p>
      While LadderWeb is a prototype and may not yet perfectly annotate every
      desired aspect, you help us to train and improve the model by adding your
      manually corrected data. Your participation is invaluable to us and the
      broader linguistic community.
    </p>
    <p class="mt-5">
      If you're interested in contributing to this project or have inquiries,
      please don't hesitate to contact the
      <a href="mailto:nicola.brocca@uibk.ac.at">webmaster</a>.
    </p>
  </div>
</div>
